@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  width: 100%;
  height: 85vh;
  background: url("https://i.ibb.co/KWRRkJp/slider-02-1903x980.jpg") no-repeat
    center;
  background-size: cover;
}
